
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    margin: 0;
    transition: background 0.5s;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}


input, select {
    padding: 12px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}


.boton, button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #ff7b00;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    text-decoration: none;
}

.boton:hover, button:hover {
    background-color: #ff5c00;
    transform: scale(1.08);
}


.card {
    margin-top: 30px;
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
    margin-left: auto;
    margin-right: auto;
    animation: aparecer 0.8s ease-in-out;
}

img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}


@keyframes aparecer {
    from { opacity: 0; transform: scale(0.85); }
    to { opacity: 1; transform: scale(1); }
}

body#incio {
    background: linear-gradient(120deg, #5db3ff, #b0e2ff);
}
body#clima {
    background: linear-gradient(120deg, #5db3ff, #b0e2ff);
}

body#paises {
    background: linear-gradient(120deg, #ffcc80, #ffb74d);
}

body#pokemon {
    background: linear-gradient(120deg, #ff6b6b, #ffa06d);
}

body#rickmorty {
    background: linear-gradient(120deg, #7df9ff, #9ef7d2);
}

body#cripto {
    background: linear-gradient(120deg, #7d44ff, #b085ff);
}


@media(max-width: 400px){
    input, select, .boton, button {
        width: 90%;
    }

    .card {
        width: 90%;
    }
}
