<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima - API</title>
    <link rel="stylesheet" href="statics/styles.css">
</head>
<body>
<body id="clima">
    <img src="images/clima.jpg" alt="Clima" width="120">
    
    <h1>API del Clima</h1>
    <p>Ingresá una ciudad para conocer su clima:</p>

    <input type="text" id="ciudad" placeholder="Ej: Asunción">
    <button id="btnClima">Consultar Clima</button>

    <div id="resultadoClima"></div>
    <a class="boton" href="index.html">Volver al Inicio</a>

    <script src="js/clima.js"></script>
</body>
</html>
