<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Criptomonedas</title>
    <link rel="stylesheet" href="statics/styles.css">
</head>
<body>
<body id="cripto">
    <img src="images/cripto.jpg" alt="Cripto" width="120">
    <h1>API de Criptomonedas</h1>
    <p>Elegí una criptomoneda:</p>

    <select id="cripto">
        <option value="bitcoin">Bitcoin</option>
        <option value="ethereum">Ethereum</option>
        <option value="dogecoin">Dogecoin</option>
        <option value="solana">Solana</option>
        <option value="cardano">Cardano</option>
    </select>
    <button id="btnCripto">Consultar</button>

    <div id="resultadoCripto"></div>
    <a class="boton" href="index.html">Volver al Inicio</a>

    <script src="js/cripto.js"></script>
</body>
</html>
